@import '@/assets/styles/_global.scss';

.SearchDropdown {
  padding: 1.6rem;
  border-radius: 1.2rem;
  box-shadow: 0px 6px 11.9px 0px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  background: $white;
  max-width: 70rem;

  &-wrapper {
    margin-bottom: -2.4rem;
  }

  &-title {
    font-size: 1.7rem;
    color: $mine-shaft;
    margin-bottom: 1.2rem;

    .Button {
      .ant-btn {
        padding: 0;
      }
    }
  }

  &-tags {
    margin-bottom: 2.4rem;

    &.popular {
      .Tags {
        &-item {
          background: $ebeb;
          border-color: $ebeb;
        }
      }
    }

    .Tags {
      &-item {
        background: $wild-sand;
        border-color: $wild-sand;

        &-icon {
          .Icon {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }
}
