@import '@/assets/styles/_global.scss';

.Radio {

  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus+.ant-radio-inner {
    border-color: $tan-hide;
  }

  .ant-radio-input:focus+.ant-radio-inner {
    box-shadow: 0 0 0 3px rgba($tan-hide, 0.2);
  }

  .ant-radio {

    &-wrapper {
      span.ant-radio+* {
        padding-left: .8rem;
        padding-right: .8rem;
        font-size: 1.3rem;
        color: $pickled-bluewood;
        transform: translateY(-.2rem);
      }
    }

    &.ant-radio-checked {
      .ant-radio-inner {
        border-color: $tan-hide;
      }
    }

    .ant-radio-inner {
      width: 2rem;
      height: 2rem;

      &:after {
        background: $tan-hide;
        width: 2.4rem;
        height: 2.4rem;
        margin-top: calc(-2.4rem / 2);
        margin-left: calc(-2.4rem / 2);
      }
    }
  }
}
