@import "@/assets/styles/_global.scss";

.Services {
  position: relative;

  &-header {
    text-align: center;
    font-weight: 600;
    color: $white;
    font-size: 2.4rem;
    padding: 3.2rem .8rem;
    background: $primary-linear-gradient;

    @media (max-width: 991px) {
      padding: .8rem;
      background: transparent;
    }
  }
}
