@import '@/assets/styles/_global.scss';

.AppDownload {
  margin: 4.8rem 0;

  &-wrapper {
    background: $concrete;
    border-radius: 1.6rem;
    overflow: hidden;
    column-gap: 5.6rem;
    padding: 1.6rem 2.4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 2.4rem;
    }
  }

  &-image {
    width: 20rem;
    @include centerOriginImage;

    img {
      transform: scale(1.5);
    }
  }

  &-info {
    column-gap: 2.4rem;

    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 2.4rem;
    }

    &-item {
      @media (max-width:767px) {
        width: 100%;
      }
    }

    &-title {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: .4rem;

      span {
        color: $primary;
      }
    }

    &-description {
      font-size: 1.3rem;
      color: $dove-gray;
      max-width: 35rem;
    }
  }

  &-downloads {
    max-width: 19rem;

    @media (max-width:767px) {
      width: 100%;
      max-width: 100%;
      display: flex;
    }

    &-item {
      @include centerOriginImage;

      &:not(:last-child) {
        margin-bottom: 0.8rem;

        @media (max-width:767px) {
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
