.VoucherMobile{
    &-wrapper{
        gap: 8px;
        &-item{
            flex-basis: 50%;
            border-radius: 8px;
            background: #F9F9F9;
            padding: 6px 12px;
            justify-content: space-between;
            align-items: center;
            &-left{
                p{
                    color: #676767;
                    text-align: left;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }
                h4{
                    color: #1F1F1F;
                    text-align: left;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    margin-top: 4px;
                }
            }
            &-icon{

            }
        }
    }
}