@import '@/assets/styles/_global.scss';

.MyScheduleDetail {
  position: relative;
  background: $white;

  &-wrapper {
    max-width: 65rem;
    margin: 0 auto;
    border-radius: 1.2rem;
    overflow: hidden;
    background: $white;
  }

  &-header {
    background: $serenade;
    padding: 0.8rem 1.6rem;
    height: 5.8rem;
    font-size: 2.4rem;
    color: $tan-hide;
    font-weight: 600;
  }

  &-main {
    padding: 2.4rem 1.6rem;
  }

  &-title {
    padding-bottom: 0.8rem;
    font-size: 1.8rem;
    color: $mine-shaft;
    font-weight: 600;
  }

  &-table {
    margin-bottom: 1.6rem;

    table {
      width: 100%;
      border-collapse: collapse;

      td {
        padding: .8rem;
        font-size: 1.4rem;
        color: $dove-gray;

        &:first-child {
          padding-left: 0;
        }

        &.dashed-top {
          border-top: 1px dashed $heather;
        }

        span {
          font-weight: 500;
          color: $mine-shaft;
        }

        strong {
          color: $mirage;
          font-weight: 600;
          font-size: 1.5rem;
        }

        &:last-child {
          padding-right: 0;
          text-align: right;
        }
      }
    }
  }
}
