@import '@/assets/styles/_global.scss';

.ModalAuth {
  &-icon {
    width: 8rem;
    @include centerOriginImage;
    margin: 0 auto 3rem;
  }

  &-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $pickled-bluewood;
    text-transform: uppercase;
    margin-bottom: 3.6rem;
  }

  &-link,
  &-description {
    font-size: 1.3rem;
    color: $dove-gray;

    &.gray {
      color: $regent-gray;
    }

    &.darken {
      color: $scorpion;
    }

    &.highlight {
      color: $primary;
      font-weight: 500;
    }
  }

  &-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
