@import '@/assets/styles/_global.scss';

.BookingServices {
  margin: 4.8rem 0;
  overflow: hidden;

  .Carousels {
    .slick-slide>div {
      margin: 0 1.8rem;

      @media (max-width: 991px) {
        margin: 0 0.6rem;
      }
    }

    .slick-list {
      margin: 0 -1.8rem;

      @media (max-width: 991px) {
        margin: 0 -0.6rem;
      }
    }
  }

  &-item {
    width: 11.5rem;
    cursor: pointer;

    @media (max-width: 991px) {
      width: 100%;
      border-radius: 2.4rem;
      padding: 1rem 0;
      background: $primary-lighten;
      margin-bottom: 1.2rem;
    }

    &-wrapper {
      @media (max-width: 991px) {
        display: flex !important;
        justify-content: center;
      }
    }

    &:hover {
      .BookingServices-item {
        &-icon {
          &-image {
            transform: scale(1.1);
          }
        }

        &-title {
          color: $primary;
        }
      }
    }

    &-icon {
      width: 11rem;
      height: 11rem;
      margin: 0 auto 1.6rem;
      border-radius: 2.4rem;
      background: $primary-lighten;

      @media (max-width: 991px) {
        width: 6.4rem;
        height: 6.4rem;
        background: $white;
        margin-bottom: 0.4rem;
      }

      &-image {
        width: 5.6rem;
        height: 5.6rem;
        transition: $common-transition;
        @include centerOriginImage;
      }
    }

    &-title {
      font-size: 1.6rem;
      font-weight: 500;
      transition: $common-transition;
      color: $emperor;
      @include ellipsis(1);

      @media (max-width: 991px) {
        font-size: 1.4rem;
      }
    }
  }
}
