@import '@/assets/styles/_global.scss';

.VoucherSelect {
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
  padding: 2.4rem 1.6rem;
  margin: 0 -1.6rem;

  &-item {
    column-gap: .4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $mine-shaft;

    .Icon {
      flex: 0 0 2.4rem;
      max-width: 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
