@import "@/assets/styles/_global.scss";

.Search {
  &-total {
    height: 4rem;
    padding: .4rem 1.6rem;
    background: $white-lilac;
    margin-bottom: 1.6rem;
    border-radius: .8rem;

    &-title {
      font-size: 1.7rem;
      color: $mine-shaft;
      font-weight: 600;

      strong {
        font-weight: 600;
        color: $tan-hide;
      }
    }

    &-subtitle {
      font-size: 1.3rem;
      color: $tan-hide;
    }
  }
}
