@import '@/assets/styles/_global.scss';

.Members {
  margin: 3.2rem 0;

  &-list {
    column-gap: 3.8rem;
    row-gap: 3.8rem;
    justify-content: space-evenly;

    &-item {
      flex: 0 0 19.2rem;
      max-width: 19.2rem;

      &-avatar {
        margin-bottom: 1.6rem;

        .Avatar {
          .ant-avatar {
            width: 19.2rem;
            height: 19.2rem;
          }
        }
      }

      &-title {
        font-size: 1.8rem;
        color: $mine-shaft;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
