@import '@/assets/styles/_global.scss';

.ShopAddressCard {
  padding: 1.2rem;
  border: 1px solid $alto;
  border-radius: 1.2rem;
  background: $white;
  column-gap: 1.2rem;

  &-image {
    flex: 0 0 11.4rem;
    max-width: 11.4rem;
    height: 11.4rem;
    width: 11.4rem;
    @include centerScaleImage;
    border-radius: .8rem;
    overflow: hidden;
  }

  &-info {
    &-heart {
      position: absolute;
      bottom: 1.6rem;
      right: 2.4rem;

      .Icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $mirage;
      margin-bottom: .4rem;
      transition: $common-transition;
      cursor: pointer;

      &:hover {
        color: $tan-hide;
      }
    }

    &-description {
      column-gap: .8rem;
      font-size: 1.3rem;
      color: $regent-gray;
      margin-bottom: .6rem;

      &.price {
        color: $pomegranate;
        font-weight: 600;

        del {
          font-size: 1rem;
          color: $regent-gray;
        }
      }

      .Icon {
        flex: 0 0 1.6rem;
        max-width: 1.6rem;
        height: 1.6rem;
        width: 1.6rem;
      }
    }

    &-btn {
      .Button {
        .ant-btn {
          padding-left: 1.6rem;
          padding-right: 1.6rem;
        }
      }
    }

    &-detail {
      margin-bottom: .6rem;

      &-item {
        font-size: 1.3rem;
        column-gap: .8rem;
        color: $regent-gray;

        &:not(:last-child) {
          &::after {
            flex: 0 0 .4rem;
            width: .4rem;
            height: .4rem;
            max-width: .4rem;
            border-radius: 50%;
            background: $heather;
            margin: 0 .8rem 0 .4rem;
            content: '';
          }
        }

        .Icon {
          width: 1.6rem;
          height: 1.6rem;
          flex: 0 0 1.6rem;
          max-width: 1.6rem;
        }
      }
    }
  }
}
