@import '@/assets/styles/_global.scss';

.Avatar {
  &.icon-default {
    .ant-avatar {
      background: $primary-linear-gradient;
    }

    .ant-avatar-string {
      top: 50%;
      transform: scale(1) translate(-50%, -50%) !important;

      .Icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

  }
}
