/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/
$primary-linear-gradient: linear-gradient(88deg, #FC987E 0%, #FDC47F 100%);

$white: #ffffff;
$black: #000000;

$aluminium: #ACB3BD;
$tan-hide: #F7894E;
$mercury: #E3E3E3;
$scorpion: #5A5A5A;
$alto: #d9d9d9;
$mine-shaft: #333333;
$emperor: #4F4F4F;
$bittersweet: #FF6B6B;
$cod-gray: #1C1C1C;
$dove-gray: #676767;
$pomegranate: #F62B22;
$concrete: #F3F3F3;
$pickled-bluewood: #2C3F55;
$heather: #C2CEDB;
$regent-gray: #8492A6;
$alabaster: #F7F7F7;
$serenade: #FFF2E5;
$pattens-blue: #E0F0FF;
$black-squeeze: #EDF2F9;
$wild-sand: #F5F5F5;
$fuel-yellow: #EEB020;
$mirage: #1C2433;
$white-lilac: #FAFBFD;
$seashell: #F1F1F1;
$havelock-blue: #438BD3;
$woodsmoke: #131516;
$mountain-meadow: #27D354;
$java: #1ECFCD;
$gray-chateau: #A0A2A3;
$catskill-white: #EFF2F7;
$link-water: #F7F9FD;
$gallery: #eeeeee;