@import '@/assets/styles/_global.scss';

.Header {
  @media (max-width: 991px) {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  }

  &-logo {
    max-width: 6rem;
    @include centerOriginImage;
  }

  &-wrapper {
    padding: 2.4rem 0;
    column-gap: 2rem;
  }

  &-location {
    column-gap: .8rem;
    padding: .8rem;
    border-radius: .8rem;
    border: 1px solid $mercury;
    max-width: 14.5rem;
    height: 4rem;
    transition: $common-transition;

    &:hover {
      background: rgba($tan-hide, 0.1)
    }

    span {
      @include ellipsis(2);
      font-size: 1.2rem;
      color: $scorpion;
    }

    .Icon {
      flex: 0 0 2.4rem;
      max-width: 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &-search {
    padding: .4rem .4rem .4rem 1.6rem;
    height: 4rem;
    border-radius: 2.4rem;
    border: 1px solid $alto;
    transition: $common-transition;
    column-gap: .8rem;

    &-wrapper {
      flex: 1;
    }

    &-icon {
      .Icon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    &-input {
      flex: 1;

      .Input {
        .ant-input {
          background: transparent;
          border: none;
          box-shadow: none;
          padding: 0;
        }
      }
    }

    &-filter {
      .Button {
        .ant-btn {
          padding-left: 1.4rem;
          padding-right: 1.4rem;
          width: auto !important;
        }
      }
    }
  }

  &-account {
    column-gap: .8rem;

    &-avatar {
      .Avatar {
        .ant-avatar {
          width: 4rem !important;
          height: 4rem !important;
        }
      }
    }

    &-title {
      font-size: 1.4rem;
      color: $mine-shaft;

      strong {
        font-weight: 500;
      }

      span {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.HeaderMobile {
  .ant-drawer-header {
    padding: 0;
  }

  .ant-drawer-close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    margin: 0;
    display: flex;
    z-index: 2;

    .Icon {
      width: 2rem;
      height: 2rem;
      margin: auto;
    }
  }

  .ant-drawer-body {
    padding: 1.6rem;

    .Header {
      &-location {
        max-width: 100%;
      }
    }
  }
}
