.Policy {
    padding-top: 7rem;
    position: relative;
    .container {
        font-size: 1.4rem;
    }
    p, h2 {
        margin-bottom: 2rem;
    }
    ul {
        padding-left: 2.5rem;
        margin-bottom: 1rem;
        li {
            list-style: disc;
        }
    }
    &-header{
        text-align: center;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
    }
}